#root{
    margin: 0px auto;
    padding: 15px;
}
.img_presentacion{
    height: 100%;
    object-fit: cover;
}
.carousel:fullscreen .img_presentacion{
    object-fit: contain;
}

input::placeholder{
    opacity: 1;
    color: #837e7e;
}